<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jmp.spring.mapper.BoardMapper">

<select id="search" resultType="jmp.spring.vo.BoardVo">

select * from ( 
 select row_number() over(order by a.bno) row_num, a.*
from tbl_board a
<if test="type== 'title' and keyword !=''">
 where title like '%${keyword}%'
</if>
<if test="type== 'content' and keyword !=''">
 where content like '%${keyword}%'
</if>
<if test="type== 'writer' and keyword !=''">
 where writer like '%${keyword}%'
</if>
 )
where row_num >(#{pageNum}-1) * #{amount}  and row_num<![CDATA[ <= ]]>#{pageNum} * #{amount} 

</select>

<select id="getTotal2" resultType="int">
select COUNT(*) from 
(select * from tbl_board
<if test="type== 'title' and keyword !=''">
 where title like '%${keyword}%'
</if>
<if test="type== 'content' and keyword !=''">
 where content like '%${keyword}%'
</if>
<if test="type== 'writer' and keyword !=''">
 where writer like '%${keyword}%'
</if>
)

</select>

<select id="getListWithPaging" resultType="jmp.spring.vo.BoardVo">

select *
from(
select row_number() over(order by a.bno) row_num, a.*
from tbl_board a )a
where row_num >(#{pageNum}-1) * #{amount}  and row_num<![CDATA[ <= ]]>#{pageNum} * #{amount} 


</select>

<select id="getListWithPaging2" resultType="jmp.spring.vo.BoardVo">

select *
from(
select row_number() over(order by a.bno) row_num, a.*
from tbl_board a )a
where row_num > (#{pageNum} * #{amount})-9  and row_num<![CDATA[ <= ]]>#{pageNum} * #{amount} 


</select>

<select id="getTotal" resultType="int">
select COUNT(*) from tbl_board

</select>

<update id="updateBoard">
update tbl_board set title= #{title}, content = #{content}, writer = #{writer}, updateDate = sysdate where bno= #{bno} 
 
</update>

<insert id="insertBoard">
<selectKey order="BEFORE" keyProperty="bno" resultType="int">
select SEQ_TBL_BOARD.nextval from dual
</selectKey>
insert into tbl_board (bno, title, content, writer, regdate, updatedate)
values(#{bno}, #{title}, #{content}, #{writer}, sysdate, sysdate)

</insert>


<select id="selectALLBoard" resultType="jmp.spring.vo.BoardVo">
 select * from tbl_board
</select>

<select id="getTime2" resultType="String">
 select sysdate from dual
</select>

<select id="selectPerson" resultMap="mapping_boardList">
SELECT * FROM tbl_board WHERE BNO =#{BNO}

</select>

<select id="selectAll" resultMap="mapping_boardList">
SELECT * FROM tbl_board ORDER BY BNO

</select>

<select id="selectOneBoard" resultType="jmp.spring.vo.BoardVo">
 select * from tbl_board where bno= #{bno}
</select>
<select id="get" resultType="jmp.spring.vo.BoardVo">
 select * from tbl_board where bno= #{bno}
</select>


<delete id="deleteBoard">
   delete from tbl_board where bno = #{bno}
</delete>

<insert id="bkInsert">
INSERT INTO tbl_board_bk
    ( SELECT
        seq_board_bk.NEXTVAL,
        bno,
        title,
        content,
        writer,
        regdate,
        updatedate,
        sysdate
    FROM
        tbl_board
    WHERE
        bno = #{bno}
    )
</insert>









<resultMap type="jmp.spring.vo.BoardVo" id="mapping_boardList">
<result property="BNO" column="BNO"/>
<result property="TITLE" column="TITLE"/>
<result property="CONTENT" column="CONTENT"/>
<result property="WRITER" column="WRITER"/>
<result property="REGDATE" column="REGDATE"/>
<result property="UPDATEDATE" column="UPDATEDATE"/>

</resultMap>


</mapper>