@charset "UTF-8";

body{
	background-color: rgb(25, 25, 25);
}

#container{
background-color: rgb(25, 25, 25);
	 box-sizing: border-box;
    width: 100%;
    padding: 0;
    margin: 0;
    margin: 0 auto;
    background-color: 
  
}
#player{ /* VIDEO */
	background-color: BLACK;
	margin:0 auto;
	width: 100%;
	height: 720px;
	
}
#player video{/* VIDEO */
	width: 1100px;
	height: 720px;
}
header{ 
	display: flex;
	position: relative;
       align-items: center;
      margin: 0 auto;
    width: 1100px;
    height: 545px;
   
}
a.MainButton {
    position: relative;
    left: 78%;
    top: 100px;
    text-decoration: none;
}

.watchButton{
	color: white;
    display: flex;
    justify-content: space-around;
    background-color: #EE4135;
   /*  position: relative;
    right: 15px;
    top: 100px;
    left: 78%; */
    width: 240px;
    height: 54px;
    font-size: 20px;
    text-align: center;
    border-radius: 25px;
    /* margin: 0 auto; */
    align-content: flex-end;
    align-items: center;
    font-weight: bold;
}

.thumbnail{

}
#thumbnail_group{
position: absolute;

 top: 100px;
width:  800px;
height: 400px;
/* border: 2px solid white; */
}
#thumbnail_group2 img {/* VIDEO */
	float:left; 
}
header img{  
float:left; 
}
#Videoinfo{/* VIDEO */
	
/* 	border: 2px solid white; */
}
#info{
    margin-top: -10;
    line-height: 1.7;
float:left; 
width: 460px;
height: 340px;
/* border: 2px solid white; */
color: white;

}
li#contentRate {
    margin-left: 13;
}

#info ul li{
font-size: 120%;
list-style: none
}


#poster{position:relative;
/*  background: linear-gradient(0deg,rgb(25, 25, 25), rgb(255, 255, 255,0.7)); */
/*  background-image: url("/resources/StarCraft.png"); */
 background-size: cover;

}
#posterbox{
	   /*  box-shadow:inset 0 -350px 20px rgb(25 25 25 / 10%), inset 0 -310px 130px rgb(25 25 25 / 63%), inset 0 -180px 90px rgb(24 25 25 / 10%), inset 0 -90px 80px rgb(24 25 25 / 40%), inset 0 -41px 40px rgb(24 25 25 / 60%); */
	    box-shadow:inset 0 -250px 150px rgb(25 25 25 / 90%), inset 0 -10px 10px rgb(25 25 25 / 90%);
	
/* opacity: 0.5; */
    width: 100%;
    position: absolute;
    
    background-size: cover;
    height: 545;
}
#posterImg{position: absolute;
opacity: 0.5; 

}

/***************컨텐츠 영역*/
#contents{

color:rgb(170, 170, 170);

/* border: 2px solid white;    */
margin: 0 auto;
width: 1100px;
height: 100%;
 
}

/*컨텐츠 리스트 영역*/
#List{   background-color: rgb(37, 37, 37);
text-align:left;
padding-left: 20px;
padding-right: 20px;
padding-top: 20px;


margin: 0 auto;
 /*   border: 2px solid white;

    border:1px solid rgb(37, 37, 37); */
    width: 720PX;
     overflow: hidden;
    margin-right: 15PX;
    float: left;
}

.buttons button{
	cursor: pointer;
font-size:15px;
padding: 3 15px;
color:rgb(87, 87, 87);
background-color:  rgb(37, 37, 37); 
border-style: none;
}
.buttons .active{
	
	color: white;
	border-bottom: 3px solid red;
}

.selectOreder{
    display: flex; 
    justify-content: space-between;
    align-items: center;

padding: 10px 0 0 0; 
border-bottom: 1px solid rgb(57, 57, 57);
}
.selectOrderBtn button{
color:rgb(170, 170, 170);
background-color:  rgb(37, 37, 37); 
border-style: none;
}
.selectOrderBtn .orderActive{
    color: rgb(238, 65, 53);
    font-weight: bold;
}

.result{
font-size: 13px;
}

.episodes{
padding: 15px 0;
/* display: flex;  */
 /*    justify-content: flex-start; */

    border-bottom: 1px solid rgb(57, 57, 57);
}
.thumA{
	display:flex;
	 justify-content: flex-start;
	text-decoration: none;
	    align-items: center;
}


.episodes img{
padding: 0 15px 0px 0px;
float: left;
}
.episodes .text1{
	font-weight:bold;
color:white;
font-size: 15px;

}
.episodes .text2{
color:rgb(170, 170, 170);
padding-top:5px;
font-size: 12px;
line-height: 2;
}
.watchPageEpisodeBar{
display: flex;
flex-wrap: wrap;	
}
.watchEpisodes{
	width: 50%;
	padding: 30px 0;
}

/***************스토리 영역*/


.infocol .story, .cast, .tags{ 
background-color: rgb(37, 37, 37);
margin-bottom: 20px;
padding: 10px;
overflow: hidden;

}
.infocol h2{
    font-weight: bold;
    color: white;
    font-size: 15px;
  
} 

.tags .sharp{
 color: rgb(238, 65, 53);
    font-weight: bold;

}

/*리뷰 영역*/
h2.title_star {
    color: white;
    opacity: 0.9;
}
.rating label{
	    position: relative;
    display: inline-block;
    margin-left: -6px;
    z-index: 10;
    width: 30px;
    height: 60px;
    background-size: 30px 60px; 
    cursor: pointer;
}

.rating .half + label{
background-image: url('/resources/VoidLeftStar.png') ;
background-repeat:no-repeat;

	 background-color:  rgb(37, 37, 37);
}
.rating .right + label {
    background-image: url('/resources/VoidRightStar.png');
    background-repeat:no-repeat;
    background-color:  rgb(37, 37, 37);
}
.rating .half:checked + label{
	background-image: url('/resources/leftStar.png');
    background-color: rgb(37, 37, 37); 
	background-repeat:no-repeat;
}
.rating .right:checked + label {
	background-image: url('/resources/rightStar.png');
    background-color: rgb(37, 37, 37);
    background-repeat:no-repeat;
}
.reviewBox{}
.textInput{
	border: 0px;
  
    width: 90%;
    margin: 20 10 20 40;
    background-color: transparent;
  /*   min-height: 26.6667vw; */
      min-height: 50px;
    outline: none;
    resize: vertical;
    line-height: 1.5;
    color: rgb(255, 255, 255);
    font-size: 14px;
    
	
}

.textBox{
	margin: 22px 0 0;

	border-radius:8px;
	background-color:rgb(51, 51, 51);
	height: 120px;
	width: 100%;
}

.reviewBtns{
	width: 93%;
	display: flex;
	 justify-content:  space-between;
	 margin: 0 auto;

}
.reviewBtns .reviewSubmitBtn{
	font-size:17px;
	  color: rgb(238, 65, 53);
    font-weight: bold;
   background-color: transparent;
border-style: none;
}

.showReview{
	font-size:14px;
	padding: 25px 0 2px 20px;
	border-top: 1px dashed rgb(57, 57, 57);
	    margin-top: 23;
}
.oneReview{
	display:flex;
	line-height: 2;

}
.RProfileImg img{
	width: 32;
}

li#contentRate .voidOneStar {
    width: 33px;
}
/* li#contentRate img#Star {
	width:10;
}
 */
.main .halfStar{
    width: 16px;
}
.stars.main {
    width: 170;
    height: 35;
}


.stars{
	margin-top: 5;
	clear:both;
/* border: 1px solid red; */
    display: inline-block;
    width: 100px;
    height: 25px;
    
    overflow: hidden;
    /* position: relative; */
    text-align: center;
    margin-left: -16;
}
.voidStars{
	clear:both;
border: 1px solid red;
    display: inline-block;
    width: 100px;
    height: 25px;
    
    overflow: hidden;
    /* position: relative; */
    text-align: center;
    margin-left: -10;
}

.stars img{
	    position: relative;
    width: 8;
}
.stars  .voidOneStar{ 
	width: 16px;
} 
.Rwriter{
	padding-right:15px;
float: left;
}
.RText{
	margin: 0 0 0 20px;
}
.RDate{
	font-size:  12px;
	 color: rgb(96, 96, 96);
}
.Rcontent{
	clear:both;
}
.pagination{
	    color: rgb(121, 121, 121);
	    font-size: 14px;
    height: 25px;
	display: flex;
    list-style: none;
    justify-content: flex-end;
}

.pagination li{
    height: 25px;
    margin-left: 3.5px;
    margin-right: 3.5px;
    padding: 0 8px;
}
.pagination a{
	   color: rgb(121, 121, 121);

	   text-decoration: none;
	   
}
.nowPage{
	background-color: rgb(51, 51, 51);
	color:white;
	font-weight: bold;
}
.RDate button {
	cursor: pointer;
    color: #575757;
    font-size: 13.5;
    border: none;
    background-color: transparent;
}

.re_reply {
 
    margin: 20 0 0 0;
}
.re_replyIcon{
	margin: 1px 13px 0px 20px;
}
/* 리플의 리플 writer @표시 */
.mentionee{
	color: white;
}	
.Re_replyBtn, .reviewSubmitBtn{
	cursor: pointer;
}
.TextBoxIcon {
    margin: 17 15;
}
.replyTextBox{
	width: 90%;
}

.textBox2{
	margin-left: 43px;
}
.CastBar{
	padding: 15px 0 0 10;
	    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.actors{
	width: 50%;
}
.actorImg{
	    position: relative;
   /*  right: 15px; */
	margin-right: 5px;
	border-radius: 5px;
}
#mainbox{
	    display: flex;
    justify-content: space-around;
}
#mainbox img{
margin-top: 40px;
    margin-bottom: 50px;
    width: 85%;
    background-repeat: no-repeat;
}

.castImg {
    margin: 0 15px 0 0;
    width: 150px;
    height: 170px;
    overflow: hidden;
}
