@charset "utf-8";

/*레이아웃*/
#mNav {display: none; position: absolute; top: 10px; right: 24px;}
#header {width:100%; background: rgb(25, 25, 25); border-bottom: 1px solid rgb(57, 57, 57);}
/*배너 기준점(글이 배너 이미지 위로 맞춰서 올라올 수 있게*/
#banner {position: relative; }
#movie {background: rgb(25, 25, 25);}
/*#helf {}*/
#footer {background: #0d0d0d;}


/*가운데 영역*/
.container {position: relative; width: 1280px; margin:0 auto; background: rgba(0,0,0,0)}


/* 로우 영역*/
.row {padding: 0 28px;}

/*모바일 메뉴*/
.ham {display: block; width: 25px; height: 10px; background: rgba(0,0,0,0); padding:15px 10px 10px 10px;}

.ham span {position: relative; display: block; width: 25px; height: 4px; background:#fff;}
.ham span:before {
    content: '';
    width: 25px; height:4px; background: #fff;
    position: absolute; left: 0; bottom: -7px;
}
.ham span:after {
    content: '';
    width: 25px; height:4px; background: #fff;
    position: absolute; left: 0; top: -7px;
}

/* 헤더 영역*/
.header {}
.header h1 {float: left;}
.header h1 em{padding: 15px 8px 3px 0; display: inline-block;}
.header h1 em img{width: 40px; height: 40px;}
.header .nav {float: right;}
.header .nav ul {border-left: 1px solid rgb(57, 57, 57);}
.header .nav ul li {float: left; width: 103px; text-align: center; border-right: 1px solid rgb(57, 57, 57);}
.header .nav ul li a {display: inline-block; padding:19px 10px; font-size: 15px; font-weight: 700; color: #fff;} 
.header .nav ul li.active a {color:#EE4135;} 



/* 배너 영역*/
.banner_menu {overflow: hidden; position: absolute; left: 0; top: 20px; width: 100%; height:100px; z-index: 10;}
.banner_menu a {color: #fff; font-size: 16px;}
.banner_menu a:hover {color: #c1c1c1; transition: all 0.3s;}
.banner_menu .bm_left {float: left;}
.banner_menu .bm_left ul {}
.banner_menu .bm_left ul:first-child {padding-top: 7px;}
.banner_menu .bm_left ul li {position: relative; display: inline; margin-right: 30px;}
.banner_menu .bm_left ul li.total {margin-right: 20px;}
.banner_menu .bm_left ul li.total a{font-size: 14px; padding: 3px 10px; display: inline-block; border: 1px solid #fff; transition: all 0.3s;}
.banner_menu .bm_left ul li.total a:hover{background: #fff; border-color: #000; color: #000;}
.banner_menu .bm_right {float: right; overflow: hidden;}
.banner_menu .bm_right ul {float:left;}
.banner_menu .bm_right ul:first-child {padding-top: 7px;}
.banner_menu .bm_right li {position: relative; display: inline; text-align: center; margin-right: 20px;}
.banner_menu .bm_right li.line {margin-right: 30px;}
.banner_menu .bm_right li.white {margin-right: 10px;}
.banner_menu .bm_right li.white a {width: 80px; background-color: #fff; color: #3a0e6a; padding: 7px 30px 9px 30px; display: inline-block; border: 1px solid #fff;}
.banner_menu .bm_right li.purple {margin-right: 0;} 
.banner_menu .bm_right li.purple a {width: 80px; background: rgb(25, 25, 25); color: #fff; padding: 7px 30px 9px 30px; display: inline-block; border: 1px solid #fff;}
.banner_menu li.line:after {content: ''; width: 1px; height: 14px; background: #fff; position: absolute; right: -18px; top: 2px;}

/* 슬라이드 */
.slider {width: 100%; height: 600px;}
.slider .ss1 {background: url(../img/swiper02.png) no-repeat center center; background-size: cover;}
.slider .ss2 {background: url(../img/swiper01.png) no-repeat center center; background-size: cover;}
.slider .ss3 {background: url(../img/swiper03.png) no-repeat center center; background-size: cover;}

/*슬라이드 글자 */
.slider .swiper-slide {} 
.slider .swiper-slide h2 {position: relative; display: inline-block; font-size: 62px; line-height: 70px; color:  #fff; margin-top: 200px;} 
.slider .swiper-slide h2:after {content:''; width: 100%; height: 1px; background: rgba(255, 255, 255, 0.3); position: absolute; left: 0; bottom: -35px;}
.slider .swiper-slide h2 em{display: block; font-size: 59px; font-weight: 100; color: #fff;} 
.slider .swiper-slide p{font-size: 27px; color:#fff; padding-top: 35px;} 

/* 무비 */
.movie {padding: 100px 0;}
.movie_title {margin-bottom: 60px;}
.movie_title ul{  overflow: hidden;
    width: 100%;
    margin: auto;
    /* text-align: center; */
    margin: 0 0 0 190px;}
/*margin-right: -1; 보더 겹치는거 해결에 효과적*/
.movie_title li{float: left; width: 210px; text-align: center; border: 1px solid #c4c4c4; margin-right: -1px;}
.movie_title li a {display: block; padding: 15px 0; font-size: 18px; color: #fff; font-weight: 700;}
.movie_title li.active a {background: #EE4135; color: #fff;}

.movie_chart {overflow: hidden; height:  592px;}
.movie_chart > div > div > div { float: left; width: 292px; height: 592px; margin-right: 18px;}
.movie_chart > div > div > div:last-child {margin-right: 0;}
.movie_chart > div > div > div .poster {position:relative;}
.movie_chart > div > div > div .poster img {display: block;}
.movie_chart > div > div > div .poster .rank {position: absolute; top: 17px; left:0; width: 50px; height: 50px; font-size: 22px;
   box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5); line-height: 50px; background-color: #EE4135; text-align: center;}
.movie_chart > div > div > div .poster .rank strong {color:#fff;}


.movie_chart > div > div > div .infor{background:rgb(57, 57, 57); padding: 17px; }
.movie_chart > div > div > div .infor h3{color: #AAAAAA; font-size: 30px; font-weight: 700; margin-bottom: 8px; }
.movie_chart > div > div > div .infor h3 strong{}
.movie_chart > div > div > div .infor h3 span{width: 29px; height: 29px; display: inline-block; margin-top: 5px; vertical-align: -2px; }

/*연령가 아이콘 위치값 맞추기*/
.movie_chart > div > div > div .infor h3 span.all {background-position: -87px -125px;}
.movie_chart > div > div > div .infor h3 span.a12 {background-position: 0 -125px;}
.movie_chart > div > div > div .infor h3 span.a15 {background-position: -29px -125px;}
.movie_chart > div > div > div .infor h3 span.a19 {background-position: -58px -125px;}
.movie_chart > div > div > div .infor .infor_btn {overflow: hidden;}
.movie_chart > div > div > div .infor .infor_btn a {float : left; width: 49%;  margin-right: 2%; box-sizing: border-box;
     background: #f2f2f2; font-size: 18px; text-align: center; padding: 15px;}
.movie_chart > div > div > div .infor .infor_btn a:last-child {margin-right: 0;}


/*푸터*/
.footer_sns { position: absolute; right: 17px; top: 33px; z-index: 1;}
.footer_sns li {display: inline-block; margin: 0 2px;}
.footer_sns li a {display: block;  width: 36px; height: 36px;}
.footer_sns li.s1 {background-position: 0 -375px;}
.footer_sns li.s2 {background-position: -36px -375px;}
.footer_sns li.s3 {background-position: -72px -375px;}
.footer_sns li.s4 {background-position: -108px -375px;}
.footer_sns li.s5 {background-position: -144px -375px;}
.footer_sns li.s1:hover {background-position: 0 -411px;}
.footer_sns li.s2:hover {background-position: -36px -411px;}
.footer_sns li.s3:hover {background-position: -72px -411px;}
.footer_sns li.s4:hover {background-position: -108px -411px;}
.footer_sns li.s5:hover {background-position: -144px -411px;}
/* .footer_sns .tel {text-align: right; padding-top: 5px;}
.footer_sns .tel a {color: #8f8f8f; font-size: 21px;}
.footer_sns .tel a em {color: #fff;} */

.footer_info { padding: 50px 0; width: 80%;}
.footer_info h2 img { width: 150px;}
.footer_info ul {padding: 15px 0;}
.footer_info li {position: relative; display: inline; padding-right: 16px; white-space: nowrap;}
.footer_info li:after  {content:''; position: absolute; right: 5px; top: 5px; width: 1px; height: 11px; background: #8f8f8f;}
.footer_info li:last-child::after {display: none;}
.footer_info li a {color: #8f8f8f;}
.footer_info address p {color: #8f8f8f; padding-bottom: 15px;}
/*미디어 쿼리*/
@media (max-width: 1290px) {
    .container {width: 100%;}
    .header .nav ul li {width: 93px;}
    .header .nav ul li a {font-size: 15px; padding: 17px 10px;}
    .header h1 em { padding:11px 8px 5px 0;}
    .header h1 strong {top: 19px;}

    /*줄였을때 슬라이드 화살표랑 글자 안겹치게 */
    .slider .swiper-slide h2 {padding-left: 20px;}
    .slider .swiper-slide p {padding-left: 20px;}

    /*줄었을때 그냥 슬라이드 버튼 사라지게, 남아있으니 괜히 더 이상하네*/
    .swiper-button-next, .swiper-button-prev {display: none;}

}

@media (max-width: 1024px) {
    #mNav {display: block;}
    .nav {display: none;}
    .row {padding: 0 24px;}
    .header h1{float: none; text-align: center;}
   .header h1 strong { left: 24px;}

   /*1024에서 배너영역 줄이기*/
   .banner_menu .bm_left ul {display: none;}
   .banner_menu .bm_right ul:first-child  {display: none;}
    

}

@media (max-width: 960px){
    /*슬라이더 축소*/
    .slider {height: 500px;}
    .slider .swiper-slide h2 {margin-top: 170px; font-size: 37px; line-height: 45px;}
    .slider .swiper-slide h2:after {bottom: -20px;}
    .slider .swiper-slide h2 em {font-size: 34px;}
    .slider .swiper-slide p{ font-size: 16px;}

    .footer_sns {position: static; text-align: center; background: #352c2c; padding-bottom: 15px;}
    .footer_sns .tel {display: none;}
    .footer_info {width: 100%; text-align: center;}

}

@media (max-width: 768px){
    .row {padding: 0 16px;}
    #mNav { right: 6px;}
    .header h1 strong {display: none;}
    .header h1 {text-align: left;}
}
/*모바일 작업 시작 */
@media (max-width: 600px){
    /*슬라이더 모바일*/
    
    .slider {height: 400px;}
    .slider .swiper-slide h2 {margin-top: 120px; font-size: 24px; line-height: 35px;}
    .slider .swiper-slide h2:after {bottom: -10px;}
    .slider .swiper-slide h2 em {font-size: 25px;}
    .slider .swiper-slide p{ font-size: 14px; padding-top: 25px;}
    .banner_menu { top: 16px;}
    .banner_menu .bm_right li.white a {font-size: 14px; padding: 3px 5px 5px 5px; color:#fff; background: rgba(0,0,0,0.6); border: 1px solid #fff;}
    .banner_menu .bm_right li.purple a{font-size: 14px; padding: 3px 5px 5px 5px; color:#fff; background: rgba(0,0,0,0.6); border: 1px solid #fff;}
   /*모바일에서 슬라이드 동그라미 크기 줄이기, 충돌때문에 안줄어들어서 important 걸어줌*/
    .swiper-pagination-bullet { width:13px !important; height: 13px !important;}

}

@media (max-width: 480px){

}

@media (max-width: 320px){

}



